* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
}
.navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    background-color: #fd7b25;
    color: #fff;
}

.logo img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.search-bar {
    background-color: #f47121;
    padding: 0.5em;
    border: solid 1px white;
    border-radius: 20px;
}

.search-bar input {
    width: 80%;
    padding: 0.5em;
    border: none;
    border-radius: 10px;
    outline: none;
    display: inline;
    
}

.search-bar button {
    padding: 0.5em;
    background-color: #f47121;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline;
    
}

.menu {
    position: relative;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    cursor: pointer;
    font-size: 1rem;
}

.menu-icon:before {
    content: "\2630";
    font-size: 20px; /* Icono de menú (☰) */
}

.menu-toggle:checked + .menu-icon:before {
    content: "\2715"; /* Icono de cruz (✕) */
    z-index: 1;
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 1;
}

.menu-toggle:checked + .menu-icon + .menu-overlay + .menu-list {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}

.menu-toggle:checked + .menu-icon + .menu-overlay + .menu-list {
    display: block;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.menu-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6b647;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 2;
    display: none;
    border-radius: 5px;
}

.menu-list li {
    padding: 0.5em;
    border-bottom: 1px solid #555;
}

.menu-list li:last-child {
    border-bottom: none;
}

.menu-list li a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f47121;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}


#resultados-busqueda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.oculto {
    display: none;
}

@media screen and (min-width: 930px) and (max-width: 1024px) {
    .navbar {
        flex-direction: row; 
        padding: 1em;
    }
    .search-bar {
        margin: 0 1em;
        
    }
    .menu-list {
        position: relative; 
        top: auto;
        left: auto;
        transform: none;
        display: flex; 
        background-color: transparent; 
        border-radius: 0;
        box-shadow: none; 
        font-size: 15px;

    }
    .menu-list li {
        border-bottom: none;
    }
    .menu-icon:before {
        content: none;
    }

    .menu-toggle:checked + .menu-icon:before {
        content: none;
    }
}


@media screen and (min-width: 1025px) {
    .navbar {
        justify-content: space-between;
        padding: 1em 5%;
    }
    .search-bar {
        margin: 0;
        width: auto;
    }
    .menu-list {
        display: flex; 
        background-color: transparent; 
        box-shadow: none; 
        position: relative; 
        top: 20px;
    }

    .menu-list li {
        border-bottom: none; 
    }

    .menu-list li:hover{
        background-color: #f6b647;
        border-radius: 5px;
        transition: 0.5ms;
    }
    
    .menu-icon:before {
        content: none;
    }
}

