.container {
    width: 90%;
    margin: 0 auto;
}
main {
    padding: 20px 0;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding: 1em;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: var(--color-secundary);
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--color-shadow);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card img{
    max-width: 500px;
    max-height: 250px;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    padding: 10px;
    font-size: 1.2em;
    position: relative;
    
}

