.card-content{
    display: grid;
    place-items: center;
}
.card {
    background-image: linear-gradient(to bottom right, #b0f76e, #e5f76e );
    border-radius: 20px;
    width: 80%;
    display: inline-block;
    margin: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0.5em;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 4px 8px #0000001a;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
}   

.img-card {
    width: 230px;
    height: 150px;
    border-radius: 15px;
    display: inline-block;
    padding: 0.5em;
}

