* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0,5em;
    background-color: #fd7b25;
    color: #fff;
}

.logo img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.search-bar {
    margin: 1em;
    background-color: #f47121;
    padding: 0.5em;
    border: solid 1px white;
    border-radius: 15px;

}

.search-bar input {
    width: 80%;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    outline: none;
    display: inline;
}

.search-bar button {
    padding: 0.5em;
    background-color: #f47121;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline;

}

.menu {
    position: relative;

}

.menu-toggle {
    display: none;
}

.menu-icon {
    cursor: pointer;
    font-size: 1rem;

}

.menu-icon:before {
    content: "\2630";
    font-size: 20px;
    /* Icono de menú (☰) */
}

.menu-toggle:checked+.menu-icon:before {
    content: "\2715";
    /* Icono de cruz (✕) */
    z-index: 1;
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 1;
}

.menu-toggle:checked+.menu-icon+.menu-overlay+.menu-list {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}

.menu-toggle:checked+.menu-icon+.menu-overlay+.menu-list {
    display: block;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.menu-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6b647;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 2;
    display: none;
    border-radius: 5px;
    
}

.menu-list li {
    padding: 0.5em;
    border-bottom: 1px solid #555;
}

.menu-list li:last-child {
    border-bottom: none;
}

.menu-list li a {
    color: #fff;
    text-decoration: none;

}
