* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #ff9500;
    color: #fff;
}

.logo img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.search-bar {
    margin: 2em;

}

.search-bar input {
    width: 70%;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 0.5em;
    background-color: #f6b647;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.menu {
    position: relative;
    
}

.menu-toggle {
    display: none;
}

.menu-icon {
    cursor: pointer;
    font-size: 1rem;

}

.menu-icon:before {
    content: "\2630";
    /* Icono de menú (☰) */
}

.menu-toggle:checked+.menu-icon:before {
    content: "\2715";
    /* Icono de cruz (✕) */
    z-index: 1;
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.menu-toggle:checked+.menu-icon+.menu-overlay+.menu-list {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}

.menu-toggle:checked+.menu-icon+.menu-overlay+.menu-list {
    display: block;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.menu-list {
    position: absolute;
    background-color: #f6b647;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 2;
    padding: 2em;
    transform: translateX(-10em);
    height: 350px;
}

.menu-list li {
    margin: 0.5em;
    




        border-bottom: 1px solid #555;
}

.menu-list li:last-child {
    border-bottom: none;
}

.menu-list li a {
    color: #fff;
    text-decoration: none;
    
}

.card{
    background-color: rgb(87, 167, 12);
    border-radius: 20px;
    width: 80%;
    display: inline-block; 
    margin: 1em;
    text-align: center;
    padding: em;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

img{
    width: 230px;
    height: 150px;
    border-radius: 15px;
    display: inline-block;
}
.btn{
    border-radius: 15px;
    background-color: #f47121;
    padding: 0.5em;
    border: solid black 2px;
}
.btn:hover{
    border-radius: 15px;
    background-color: rgb(6, 4, 85);
    padding: 0.5em;
    border: solid black 2px;
    color: aliceblue;
}

ul{
    list-style: none;
    background-color: #f47121;
    padding: 0.5em;
    
}
li{
    display: inline-block;
    background-color: #f47121;
    }