/* Estilos para el contenedor de recetas */
#contenedor-recetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Diseño de cuadrícula adaptable */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px;
}

.tarjeta {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.tarjeta img {
    width: 150px; 
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.datos-receta {
    flex: 1;
}

.datos-receta h2 {
    margin-bottom: 10px; 
}

